/* Šriftu imports no Google */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');


:root{
    /* Krāsas */
    --main-background:rgb(0, 0, 0);
    --secondary-background:rgba(33, 33, 33, 1);
    --text-color:rgba(255, 255, 255, 1);
    --nav-hover-color:rgba(111, 0, 169, 1);

    --button-background:rgba(111, 0, 169, 1);
    --text-block-background:rgba(111, 0, 169, 1);
    --gradient-border:linear-gradient(90deg,
                            rgba(255, 0, 0, 1),
                            rgba(66, 255, 0, 1),
                            rgba(36, 0, 255, 1));




    /* fonti */
    --logo-font:Exo 2;
    --nav-font:Orbitron;
    --small-text-font:Exo;
    --big-text-font:Exo;
    --button-text-font:Orbitron;


}

/* var(--mainiga-nosaukums) */

body{
    background: var(--main-background);
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: rgba(255, 255, 255, 1);

    font-family: var(--small-text-font);
    font-style: Regular;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -2%;
    text-align: center;
    text-transform: capitalize;

}


/* Virsrakstu Margin noņemšana */

h1,h2,h3,h4,h5,p{
    margin: 0px;
    padding: 0px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 130px;

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        min-width: 795px;

        a{
            text-decoration: none;
            color:var(--text-color);
            font-family: var(--nav-font);
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;

        }
        a:hover{
            color:var(--nav-hover-color);
        }


        .social{
           img:hover{
             /* background: var(--nav-hover-color); */
        } 

        }
    }

    .logo{
        color:var(--text-color);
        font-family: var(--logo-font);
        font-style: normal;
        font-size: 30px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -10%;
        text-align: left;     
    }



}


#hero{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        min-height: 600px;

        .hero_left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;


            h5{
                /* color: rgba(255, 255, 255, 1); */
                font-family: Exo;
                font-style: Regular;
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: -2%;
                text-align: left;
                text-transform: uppercase;
            }

            .line{
                width: 152px;
                height: 1px;
                /* position: relative;
                top:-10px; */

                margin:10px 0px;

                background-image:linear-gradient(90deg,
                            rgba(255, 0, 0, 1),
                            rgba(66, 255, 0, 1),
                            rgba(36, 0, 255, 1));
            }

            h1{
                max-width: 584px;
                color: rgba(255, 255, 255, 1);

                font-family: Exo;
                
                font-size: 80px;
                font-weight: 700;
                line-height: 70px;
                text-align: left;
                text-transform: uppercase;
            }

            p{

                color: rgba(255, 255, 255, 1);
                font-family: Exo;
                
                font-size: 18px;
                font-weight: 400;
                line-height: 40px;
                letter-spacing: -0.2px;
                text-align: left;
                text-transform: capitalize;

                margin:20px 0px;
            }

            button{
                /* CTA Button */
                width: 253px;
                height: 50px;
                /* Auto layout */
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10;
                padding: 15px 60px 15px 60px;
                background: var(--button-background);


                /* pogas teksts */

                color: rgba(255, 255, 255, 1);

                font-family: var( --button-text-font);
               
                font-size: 20px;
                font-weight: 900;
                line-height: 20px;
                
                text-align: center;
                text-transform: uppercase;

            }

        }

        .hero_right{


             img{
            /* Hero Image */
            max-width: 688px;
            height: 508px;
            }

        }

        

       

}

